<div class="row">
    <div class="col-md-9 col-12">
        @* Gọi component form_left *@
        <Form_left />
    </div>
    <div class="col-md-3 col-12">
        <div class="sticky-top position-sticky">
            @* Gọi component form_right *@
            <Form_right />
        </div>
    </div>
    @* Gọi modal cho media *@
    <MediaModal />
</div>
