@page "/admin/size/create"
@inject NavigationManager nav
@inject ISizeServices sev
@inject IJSRuntime JS

<EditForm Model="size" OnValidSubmit="SubmitForm" FormName="sizeadd">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="form-group mb-3">
                    <label for="material-title" class="form-label">Tiêu đề <span class="text-danger">*</span></label>
                    <InputText id="material-title" class="form-control" @bind-Value="size.Title" required />
                    <ValidationMessage For="@(() => size.Title)" />
                </div>

                <div class="form-group mb-3">
                    <label for="attribute-slug" class="form-label">Đường dẫn</label>
                    <InputText id="attribute-slug" class="form-control" @bind-Value="size.Slug" />
                    <small class="text-gray-100">“slug” là đường dẫn thân thiện của tên. Nó thường chỉ bao gồm kí tự viết thường, số và dấu gạch ngang, không dùng tiếng Việt.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="attribute-color" class="form-label">Mô tả</label>
                    <InputText id="attribute-color" class="form-control" @bind-Value="size.Description" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Thêm kích thước</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Size size = new Size();
   
    private async Task SubmitForm()
    {
        try
        {
            await sev.Create(size); 
            await JS.InvokeVoidAsync("toastr.success", "Kích thức đã được thêm thành công"); // Hiển thị thông báo thành công
            nav.NavigateTo("/admin/size");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            await JS.InvokeVoidAsync("toastr.error", "Không thể thêm kích thước. Vui lòng thử lại."); // Hiển thị thông báo lỗi
        }
    }
}