@page "/admin/style/create"
@inject NavigationManager nav
@inject IStyleServices sev
@layout AdminLayout

<EditForm Model="style" OnValidSubmit="SubmitForm" FormName="styleadd">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="form-group mb-3">
                    <label for="material-title" class="form-label">Tiêu đề <span class="text-danger">*</span></label>
                    <InputText id="material-title" class="form-control" @bind-Value="style.Title" required />
                    <ValidationMessage For="@(() => style.Title)" />
                </div>

                <div class="form-group mb-3">
                    <label for="attribute-slug" class="form-label">Đường dẫn</label>
                    <InputText id="attribute-slug" class="form-control" @bind-Value="style.Slug" />
                    <small class="text-gray-100">“slug” là đường dẫn thân thiện của tên. Nó thường chỉ bao gồm kí tự viết thường, số và dấu gạch ngang, không dùng tiếng Việt.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="attribute-color" class="form-label">Mô tả</label>
                    <InputText id="attribute-color" class="form-control" @bind-Value="style.Description" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Thêm phong cách</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Style style = new Style();
    protected override void OnInitialized()
    {
        // Set default status to "ACTIVE" (Hoạt động)
        style.Status = Style.STATUS_ACTIVE;
    }
    private async Task SubmitForm()
    {
        style.Create_at = DateTime.Now;
        await sev.Create(style); // Gọi API để tạo thuộc tính
        nav.NavigateTo("/admin/style"); // Điều hướng sau khi thành công
    }
}