@using Microsoft.AspNetCore.Components.Web
@namespace ViewsFE.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Base URL for relative paths -->
    <base href="~/" />

    <!-- CSS files -->
@*     <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" /> *@
@*     <link href="css/site.css" rel="stylesheet" /> *@
 @*    <link href="BlazorApp1.styles.css" rel="stylesheet" /> *@

    <!-- Head outlet for Blazor server-side prerendering -->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <!-- Body content -->
    <div>
        @RenderBody()
    </div>

    <script src="_framework/blazor.server.js"></script>

</body>
</html>
