@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@inject CustomAuthenticationStateProvider AuthStateProvider
@namespace ViewsFE.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Thảm len Hàng Kênh</title>
    <!-- CSS files -->
    <!-- Base URL for relative paths -->
    <base href="~/" />
    <!-- Thêm CSS cho jVectorMap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/jquery-jvectormap.min.css" />
    <!-- Thêm jQuery trước -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Thêm jsVectorMap -->
    <link href="assets/libs/tabler/css/tabler.min.css" rel="stylesheet" />
    <link href="assets/libs/tabler/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="assets/libs/tabler/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="assets/libs/tabler/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="assets/libs/tabler/css/demo.min.css" rel="stylesheet" />
    <!-- Toastr for notifications -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Dropzone for file uploads -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css" />
    <!-- Tom Select for custom selects -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.default.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Custom styles --> 
    <link href="assets/css/admin-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <style>
        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }

        h1:focus {
            outline: none;
        }

        .validation-message {
            color: red;
            font-size: 0.9rem;
            margin-top: 0.25rem;
        }

    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <script src="assets/js/demo-theme.min.js?1692870487"></script>

        @RenderBody()

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/r9r9nm98dlxxdpsb1c0doz57qoiny05ey9cbxq2lb1kgqqu8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap@3.0.0/dist/js/jsvectormap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>




    <script src="assets/libs/tabler/js/tabler.min.js" defer></script>
    <script src="assets/js/tinymce-init.js"></script>
    <script src="assets/js/tinymce-custom.js" defer></script>
    <script src="assets/js/http.js" defer></script>
    <script src="assets/js/dom.js" defer></script>
    <script src="assets/js/site.js" defer></script>
    <script src="assets/js/Custom.js" defer></script>

    @RenderSection("Scripts", required: false)

</body>
</html>