@page "/admin/material/edit/{id:long}"
@inject NavigationManager nav
@inject IMaterialServices sev
@layout AdminLayout
<EditForm Model="material" OnValidSubmit="SubmitForm" FormName="materialadd">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="form-group mb-3">
                    <label for="material-title" class="form-label">Tiêu đề <span class="text-danger">*</span></label>
                    <InputText id="material-title" class="form-control" @bind-Value="material.Title" required />
                    <ValidationMessage For="@(() => material.Title)" />
                </div>

                <div class="form-group mb-3">
                    <label for="attribute-slug" class="form-label">Đường dẫn</label>
                    <InputText id="attribute-slug" class="form-control" @bind-Value="material.Slug" />
                    <small class="text-gray-100">“slug” là đường dẫn thân thiện của tên. Nó thường chỉ bao gồm kí tự viết thường, số và dấu gạch ngang, không dùng tiếng Việt.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="attribute-color" class="form-label">Mô tả</label>
                    <InputText id="attribute-color" class="form-control" @bind-Value="material.Description" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Thêm chất liệu</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public long Id { get; set; }
    private Material material = new Material();
    protected async override Task OnInitializedAsync()
    {
        material = await sev.Details(Id);
    }

    private async Task SubmitForm()
    {
        await sev.Update(material); // Gọi API để tạo thuộc tính
        nav.NavigateTo("/admin/material"); // Điều hướng sau khi thành công
    }
}