@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider _authStateProvider;
@inject IAccountService accountService

<PageTitle>BlazorApp1</PageTitle>
<div class="layout">
    <div class="sidebar">
        <ViewsFE.Pages.NavMenu />
    </div>

    <div class="main-content">
        <div class="top-row">
            <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
                <div class="container-xl">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-nav flex-row order-md-last">
                     
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                <span class="avatar avatar-sm" style="background-image"></span>
                                <div class="d-none d-xl-block ps-2">
                                    @if (admin!= null)
                                    {
                                    <div><span>@admin.FirstName @admin.LastName</span></div>
                                    }
                                    else
                                    {
                                    <div>admin</div>
                                    <div class="mt-1 small text-muted">Admin</div>
                                    }
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <a @onclick="Logout" class="dropdown-item" style="cursor: pointer;">Logout</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <div>
                            <!-- Optional Search form -->
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <article class="content">
            @Body
        </article>
    </div>
</div>

@code {
    string adminId;
    private Account admin = new Account();
    protected override async Task OnInitializedAsync()
    {
        var currentUserId = await _authStateProvider.GetCurrentUserId();
        if (currentUserId == null)
        {
            adminId = null;
        }
        else
        {
            adminId = currentUserId;
            admin = await accountService.GetAccountById(adminId);
        }
    }
    public async Task Logout()
    {
        await _authStateProvider.LogoutAsync();
        Navigation.NavigateTo("/admin/login");
    }
}
<style>
    .layout {
        display: grid;
        grid-template-areas:
            "sidebar top-row"
            "sidebar content";
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto 1fr; 
        height: 100vh;
    }
    .sidebar {
        grid-area: sidebar;
        color: white;
        overflow-y: auto;
        background-color: var(--tblr-body-bg);
    }

    /* Navbar trên cùng */
    .top-row {
        grid-area: top-row;
        background-color: #f8f9fa; /* Màu nền navbar */
        border-bottom: 1px solid #ddd;
    }

    /* Nội dung chính */
    .content {
        grid-area: content;
        background-color: var(--tblr-body-bg);
     
        overflow-y: auto; /* Cuộn nếu nội dung dài */
    }

</style>