@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>BlazorApp1</PageTitle>

<div class="page-wrapper">
    <main>
        @Body
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // var user = authenticationState.User;
        // if (user == null)
        // {
        //     if (Navigation.Uri != "/admin/login")
        //     {
        //         Navigation.NavigateTo("/admin/login");
        //     }
        // }
        // else
        // {
        //     if (Navigation.Uri != "/admin/login")
        //     {
        //         Navigation.NavigateTo("/admin/dashboard");
        //     }
        // }
    }
}
