@namespace ViewsFE.Pages
@inject CustomAuthenticationStateProvider _authAdmin
@inject IAccountService accountService
@inject IJSRuntime _jsRuntime
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <h1>HangKenh</h1>
            </a>
        </h1>
        <div class="navbar-nav flex-row d-lg-none">


            <div class="nav-item dropdown">

                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="javascript:void(0);" onclick="logout()" class="dropdown-item" style="cursor: pointer;">Logout</a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                @if (isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link " href="/">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Thống kê
                            </span>
                        </a>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link " href="/admin/sell">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Bán hàng
                            </span>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link " href="/admin/vouchers">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-rosette-discount"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.01 2.011c.852 0 1.668 .34 2.267 .942l.698 .698a1.2 1.2 0 0 0 .845 .349h1a3.2 3.2 0 0 1 3.2 3.2v1c0 .316 .126 .62 .347 .843l.698 .698a3.2 3.2 0 0 1 .002 4.536l-.698 .698a1.2 1.2 0 0 0 -.349 .845v1a3.2 3.2 0 0 1 -3.2 3.2h-1a1.2 1.2 0 0 0 -.843 .347l-.698 .698a3.2 3.2 0 0 1 -4.536 .002l-.698 -.698a1.2 1.2 0 0 0 -.845 -.349h-1a3.2 3.2 0 0 1 -3.2 -3.2v-1a1.2 1.2 0 0 0 -.347 -.843l-.698 -.698a3.2 3.2 0 0 1 -.002 -4.536l.698 -.698a1.2 1.2 0 0 0 .349 -.845v-1l.005 -.182a3.2 3.2 0 0 1 3.195 -3.018h1a1.2 1.2 0 0 0 .843 -.347l.698 -.698a3.2 3.2 0 0 1 2.269 -.944m2.49 10.989a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0 -3m1.207 -4.707a1 1 0 0 0 -1.414 0l-6 6a1 1 0 0 0 1.414 1.414l6 -6a1 1 0 0 0 0 -1.414m-6.207 -.293a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0 -3" /></svg>
                            </span>
                            <span class="nav-link-title">
                                Voucher
                            </span>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link " href="/admin/discounts">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
                                    <path d="M12 12l8 -4.5" />
                                    <path d="M12 12l0 9" />
                                    <path d="M12 12l-8 -4.5" />
                                    <path d="M16 5.25l-8 4.5" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Discounts
                            </span>
                        </a>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link" href="admin/media">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-photo-scan">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M15 8h.01" />
                                    <path d="M6 13l2.644 -2.644a1.21 1.21 0 0 1 1.712 0l3.644 3.644" />
                                    <path d="M13 13l1.644 -1.644a1.21 1.21 0 0 1 1.712 0l1.644 1.644" />
                                    <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                                    <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                                    <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                                    <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Media
                            </span>
                        </a>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  dropdown">

                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
                                    <path d="M12 12l8 -4.5" />
                                    <path d="M12 12l0 9" />
                                    <path d="M12 12l-8 -4.5" />
                                    <path d="M16 5.25l-8 4.5" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Bài viết
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="/admin/post">
                                        Tất cả bài viết
                                    </a>
                                    <a class="dropdown-item" href="/admin/post/create">
                                        Thêm mới bài viết
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/post/categorie">
                                        Chuyên mục
                                    </a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-notebook">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
                                    <path d="M13 8l2 0" />
                                    <path d="M13 12l2 0" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Trang
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item "
                                       href="/admin/page">
                                        Tất cả trang
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/page/create">
                                        Thêm mới
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-palette">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 21a9 9 0 0 1 0 -18c4.97 0 9 3.582 9 8c0 1.06 -.474 2.078 -1.318 2.828c-.844 .75 -1.989 1.172 -3.182 1.172h-2.5a2 2 0 0 0 -1 3.75a1.3 1.3 0 0 1 -1 2.25" />
                                    <path d="M8.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    <path d="M12.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    <path d="M16.5 10.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Nhà thiết kế
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item " href="/admin/designer">
                                        Nhà thiết kế
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/designer/create">
                                        Thêm mới
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-building-store">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M3 21l18 0" />
                                    <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
                                    <path d="M5 21l0 -10.15" />
                                    <path d="M19 21l0 -10.15" />
                                    <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Sản phẩm
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item " href="/admin/product">
                                        Tất cả sản phẩm
                                    </a>
                                    <a class="dropdown-item " href="/admin/productVarians">
                                        Sản phẩm chi tiết
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/product-delete">
                                        Sản phẩm đã xoá
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/productsreturned">
                                        Sản phẩm đổi trả
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/product/create">
                                        Thêm mới sản phẩm
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/product/categorie">
                                        Chuyên mục
                                    </a>
                                    <a class="dropdown-item " href="/admin/color">
                                        Màu sắc
                                    </a>
                                    <a class="dropdown-item " href="/admin/size">
                                        Kích thước
                                    </a>
                                    <a class="dropdown-item " href="/admin/style">
                                        Phong cách
                                    </a>
                                    <a class="dropdown-item " href="/admin/material">
                                        Chất liệu
                                    </a>
                                    <a class="dropdown-item " href="/admin/textiletechnology">
                                        Công nghệ dệt
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-building-fortress">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M7 21h1a1 1 0 0 0 1 -1v-1h0a3 3 0 0 1 6 0m3 2h1a1 1 0 0 0 1 -1v-15l-3 -2l-3 2v6h-4v-6l-3 -2l-3 2v15a1 1 0 0 0 1 1h2m8 -2v1a1 1 0 0 0 1 1h2" />
                                    <path d="M7 7h0v.01" />
                                    <path d="M7 10h0v.01" />
                                    <path d="M7 13h0v.01" />
                                    <path d="M17 7h0v.01" />
                                    <path d="M17 10h0v.01" />
                                    <path d="M17 13h0v.01" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Dự án/Công trình
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item "
                                       href="/admin/project">
                                        Danh sách dự án
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/project/create">
                                        Thêm mới dự án
                                    </a>
                                    <a class="dropdown-item "
                                       href="/admin/project/categorie/create">
                                        Chuyên mục
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Đơn hàng
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item "
                                       href="/admin/orders">
                                        Tất cả đơn hàng
                                    </a>
                                    <a class="dropdown-item "
                                       href="/Admin/ordersShipping">
                                        Đơn hàng giao hàng
                                    </a>
                                    <a class="dropdown-item "
                                       href="/Admin/ordersCounter">
                                        Đơn bán tại quầy
                                    </a>
                                    <a class="dropdown-item "
                                       href="/Admin/SearchOrder">
                                        Tra cứu đơn hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link " href="/admin/contact">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-address-book"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z" /><path d="M10 16h6" /><path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 8h3" /><path d="M4 12h3" /><path d="M4 16h3" /></svg>
                            </span>
                            <span class="nav-link-title">
                                Contact
                            </span>
                        </a>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  ">
                        <a class="nav-link " href="/admin/qa">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bubble-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.4 19a4.2 4.2 0 0 1 -1.57 -.298l-3.83 2.298v-3.134a2.668 2.668 0 0 1 -1.795 -3.773a4.8 4.8 0 0 1 2.908 -8.933a5.335 5.335 0 0 1 9.194 1.078a5.333 5.333 0 0 1 3.404 8.771" /><path d="M16 19h6" /></svg>
                            </span>
                            <span class="nav-link-title">
                                Q&A
                            </span>
                        </a>
                    </li>
                }
                @if (isAdmin)
                {
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-user-pentagon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M13.163 2.168l8.021 5.828c.694 .504 .984 1.397 .719 2.212l-3.064 9.43a1.978 1.978 0 0 1 -1.881 1.367h-9.916a1.978 1.978 0 0 1 -1.881 -1.367l-3.064 -9.43a1.978 1.978 0 0 1 .719 -2.212l8.021 -5.828a1.978 1.978 0 0 1 2.326 0z" />
                                    <path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" />
                                    <path d="M6 20.703v-.703a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.707" />
                                </svg>
                            </span>
                            <span class="nav-link-title">
                                Quản trị viên
                            </span>
                        </a>
                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item " href="/admin/account/allaccount">
                                        Danh sách quản trị viên

                                    </a>
                                </div>
                            </div>
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item " href="/admin/account/create">
                                        Thêm quản trị viên
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (isEmployee || isAdmin)
                {
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="false" role="button" aria-expanded="false">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-square"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" /><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /></svg>
                            </span>
                            <span class="nav-link-title">
                                Khách hàng
                            </span>
                        </a>

                        <div class="dropdown-menu ">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item " href="/admin/users">
                                        Danh sách khách hàng

                                    </a>
                                </div>
                            </div>

                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item " href="/admin/user/create">
                                        Thêm khách hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

</aside>

@code {
    private SignInModel loginModel = new SignInModel();
    private string? errorMessage;
    private bool isInitialized;
    private bool isAuthenticated = false;
    private string? userId;
    private bool isAdmin = false;
    private bool isEmployee = false;

    private async Task<bool> UserIsInRoleAsync(string role)
    {
        var authState = await _authAdmin.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.IsInRole(role);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            // Khởi tạo trạng thái xác thực
            await _authAdmin.InitializeAuthenticationState();
            isInitialized = true;

            // Kiểm tra người dùng đã đăng nhập hay chưa
            isAuthenticated = await _authAdmin.IsAuthenticatedAsync();

            if (isAuthenticated)
            {
                userId = await _authAdmin.GetCurrentUserId();
                // Kiểm tra vai trò người dùng
                isAdmin = await UserIsInRoleAsync("Admin");
                isEmployee = await UserIsInRoleAsync("Employee");
            }

            StateHasChanged();
        }
    }
}
