@page "/admin/post/categorie/create"
@inject ICategoriesServices sev
@inject NavigationManager nav
@inject IJSRuntime JS

<EditForm Model="categories" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Thêm chuyên mục
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group mb-3">
                                    <label for="categories-short-title" class="form-label">Tiêu đề ngắn <span class="text-danger">*</span></label>
                                    <InputText id="categories-short-title" class="form-control" @bind-Value="categories.Short_title" required />
                                    <ValidationMessage For="@(() => categories.Short_title)" />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="categories-title" class="form-label">Tiêu đề <span class="text-danger">*</span></label>
                                    <InputText id="categories-title" class="form-control" @bind-Value="categories.Title" required />
                                    <ValidationMessage For="@(() => categories.Title)" />
                                </div>

                                <div class="form-group mb-3">
                                    <label for="categories-slug" class="form-label">Đường dẫn</label>
                                    <InputText id="categories-slug" class="form-control" @bind-Value="categories.Slug" />
                                    <small class="text-gray-100">“slug” là đường dẫn thân thiện của tên. Nó thường chỉ bao gồm kí tự viết thường, số và dấu gạch ngang, không dùng tiếng Việt.</small>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="categories_parent_id" class="form-label">Chuyên mục cha</label>
                                    <InputSelect id="categories_parent_id" class="form-control" @bind-Value="categories.Parent_id">
                                        <option value="0">Không có chuyên mục cha</option> <!-- Thêm lựa chọn không có chuyên mục cha -->
                                        @if (categoriesList != null && categoriesList.Any())
                                        {
                                            @foreach (var attr in categoriesList)
                                            {
                                                <option value="@attr.Id">@attr.Title</option>
                                            }
                                        }
                                    </InputSelect>
                                    <small class="text-gray-100">
                                        Chuyên mục khác với thẻ, bạn có thể sử dụng nhiều
                                        cấp
                                        chuyên mục. Ví dụ: Trong chuyên mục nhạc, bạn có chuyên mục con là nhạc Pop,
                                        nhạc
                                        Jazz. Việc này hoàn toàn là tùy theo ý bạn.
                                    </small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="categories-description" class="form-label">Mô tả</label>
                                    <InputTextArea id="categories-description" class="form-control" @bind-Value="categories.Description" rows="3" />
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="float: right">
                                        Đăng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {
    private List<Categories> categoriesList = new();
    private Categories categories = new Categories();
    private List<Designer> designersList = new List<Designer>();
    protected override async Task OnInitializedAsync()
    {
        // Tải danh sách thuộc tính nếu chưa có
        categoriesList = (await sev.GetAllType("post")).Where(ctgr => ctgr.Parent_id == 0).ToList();
    }

    private async void HandleValidSubmit()
    {
        try
        {
            await sev.CreateTypePost(categories);
            await JS.InvokeVoidAsync("toastr.success", "Thêm danh mục thành công");
            nav.NavigateTo("/admin/post/categorie");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            await JS.InvokeVoidAsync("toastr.error", "Không thể thêm danh mục. Vui lòng thử lại.");
        }
    }
}