@page "/admin/textiletechnology/edit/{id:long}"
@inject NavigationManager nav
@inject ITextile_technologyServices sev
@inject IJSRuntime JS

<EditForm Model="technology" OnValidSubmit="SubmitForm" FormName="textiletechnologyadd">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Sửa công nghệ dệt
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="form-group mb-3">
                                    <label for="material-title" class="form-label">Tiêu đề <span class="text-danger">*</span></label>
                                    <InputText id="material-title" class="form-control" @bind-Value="technology.Title"  />
                                    <ValidationMessage For="@(() => technology.Title)" />
                                </div>

                                <div class="form-group mb-3">
                                    <label for="attribute-slug" class="form-label">Đường dẫn</label>
                                    <InputText id="attribute-slug" class="form-control" @bind-Value="technology.Slug" />
                                    <small class="text-gray-100">“slug” là đường dẫn thân thiện của tên. Nó thường chỉ bao gồm kí tự viết thường, số và dấu gạch ngang, không dùng tiếng Việt.</small>
                                    <ValidationMessage For="@(() => technology.Slug)" />
                                </div>

                                <div class="form-group mb-3">
                                    <label for="attribute-color" class="form-label">Mô tả</label>
                                    <InputText id="attribute-color" class="form-control" @bind-Value="technology.Description" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="float: right">
                                        Sửa công nghệ dệt
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public long Id { get; set; }
    private Textile_technology technology = new Textile_technology();
    protected async override Task OnInitializedAsync()
    {
        technology = await sev.Details(Id);
    }
    private async Task SubmitForm()
    {
        try
        {
            await sev.Update(technology); // Gọi API để tạo thuộc tính
            await JS.InvokeVoidAsync("toastr.success", "Công nghệ dệt đã được sửa thành công"); // Hiển thị thông báo thành công
            nav.NavigateTo("/admin/textiletechnology"); // Điều hướng sau khi thành công
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            await JS.InvokeVoidAsync("toastr.error", "Không thể sửa công nghệ dệt. Vui lòng thử lại."); // Hiển thị thông báo lỗi
        }
    }
}